@mixin size($w,$h){
  width:$w;
  height:$h;
}
@mixin pCenter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}
@mixin phone{
  @media (max-width: 600px){
    @content
  }
}
@mixin pad{
  @media (max-width:860px){
    @content
  }
}
@mixin laptop{
  @media (max-width:1200px){
    @content
  }
}
@mixin pc{
  @media (min-width:1200px){
    @content
  }
}

*{
  font-family: serif,微軟正黑體;
}

html,body{
  padding: 0;
  margin: 0;
}
  
.nav {
  @include size(100%,60px);
  position:fixed;
  top:0;
  border-bottom: solid 1px #cccccc;
  box-shadow:0px 0px 5px #888;
  z-index: 10;
  background-color: #fff;
  .logo{
    width: 100px;
    float: left;
    margin-left: 20px;
    cursor: pointer;
    img{
      width: 100%;
    }
  }
  .search{
    @include size(40px,40px);
    float: right;
    margin: 10px 30px 0 0 ;
    position: relative;
    cursor:pointer;
    .icon{
      width: 100%;
      font-size: 20px;
      color: #888;
      i{
        @include pCenter;
      }
    }
      
  }
  .member{
    @include size(40px,40px);
    float: right;
    border-radius: 50%;
    margin: 10px 30px 0 0 ;
    position: relative;
    background-color: #999;
    cursor: pointer;

    i{
      @include pCenter;
      color: white;
      
    }
  }
}

section#sort{
  
  margin-top: 60px;
  border-bottom: solid 1px #cccccc;
  padding: 15px 30px;
  .btn{
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    padding: 0 10px;
    margin:0 5px ;
    border-radius: 15px;
    border: solid 1px #cccccc;
    background-color: #f2f2f2;
    cursor:pointer;
    display:none;
    @include pc{
      &.btnpc{
        display:inline-block;
      }
    }
    @include laptop{
      &.btnlaptop{
        display:inline-block;
      }
    }
    @include pad{
      &.btnpad{
        display:inline-block;
      }
      &.btnphone,&.btnlaptop,&.btnpc{
        display:none;
      }
    }
    @include phone{
      &.btnphone{
        display:inline-block;
      }
      &.btnpad,&.btnlaptop,&.btnpc{
        display:none;
      }
    }
    
    &:hover{
      background-color: #a6a6a6;
      color:white;
    }
    &:active{
      background-color: #444;
      color: white;
    }
    &.active{
      background-color: #444;
      color: white;
    }
  }
}
section#video{
  padding: 10px 10px 60px 10px ;
  background-color: #f2f2f2;
  
  @include pad{
    padding: 0px 0px 60px 0px ;
  }
  @include phone{
    padding: 0px 0px 60px 0px ;
  }
  .container{
    text-align:center;
    // padding: auto;
    // padding-left: auto;
    // padding-right: auto;
    // margin: auto;
    .videoBox{
      
      cursor:pointer;
      margin: 5px;
      vertical-align:top;
      display: inline-block;
      @include pc{
        width: 23%;
      }
      @include laptop{
        width: 31%;
      }
      @include pad{
        width: 48%;
        margin: 2px;
      }
      @include phone{
        width: 100%;
        margin: 0;
      }
      
      
      &:hover{
        .bottom .dots,.top .later,.top .plus{
          opacity:1;
        }
      }
      .top{
        position: relative;
        padding: 0;
        
        .video{
          width: 100%;
          
          left: 0;
          margin: 0;
          padding: 0;
          
        }
        .time{
          
          position: absolute;
          bottom: 6px;
          right: 2px;
          padding: 2px 5px;
          color:white;
          font-size: 12px;
          background-color: rgba(38, 38, 38,0.8);
          text-align:center;
          border-radius: 1px;
          @include phone{
              font-size: 18px;
              bottom: 10px;
              right: 5px;
          }
        }
        .later,.plus{
          @include size(30px,30px);
          font-size: 20px;
          position: absolute;
          right:0;
          top:0;
          border-radius: 2px;
          background-color: #222;
          margin: 5px;
          opacity:0;
           @include phone{
            opacity:1;
          }
          i{
            @include pCenter;
            color:white;
          }
        }
        .plus{
          top:30px;
          margin: 10px 5px;
        }

      }
      .bottom{
        width: 100%;
        height: 80px;
        position: relative;
        padding-bottom: 10px;
        @include phone{
          padding-bottom: 20px;
        }
        .creatorPic{
          height: 100%;
          position: absolute;
          padding: 10px;
          box-sizing: border-box;
          img{
          @include size(30px,30px);
          border-radius:50%;
          }
        }
        .info{
          width: calc(100% - 80px);
          position: absolute;
          right: 25px;
          text-align:left;
          margin-top: 10px;
          .title{
            font-size: 13px;
            margin-bottom: 8px;
            max-height: 35px;
            overflow: hidden;
            @include phone{
              font-size: 15px;
              max-height: 40px;
            }
          }
          
          .views{
            font-size: 12px;
            color:#4d4d4d;
            max-height: 15px;
            overflow: hidden;
            @include phone{
              font-size: 14px;
              max-height: 18px;
            }
          }
        }
        .dots{
          width:15px;
          position: absolute;
          right: 0;
          opacity:0;
          margin-top: 10px;
           @include phone{
            opacity:1;
            right:5px;
          }
          .dot{
            @include size(4px,4px);
            border-radius:50%;
            margin: 2px;
            background-color: #8c8c8c;

          }
        }
      }
    }
  }
}

section#bottomMenu{
  height:60px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display:flex;
  justify-content: space-around;
  background-color: #fff;
  .bottomIcon{
    width: 60px;
    text-align: center;
    margin: auto;
    cursor: pointer;
    i{
      font-size: 20px;
    }
    h5{
      margin: 0;
      font-size: 12px;
    }
  }
}